<h1 class="center">Orders</h1>

<div class="center">
        <div>
        <span>
           Small
        </span>
        <span class="smallnum">
            ({{numSmallpizza}})   
           </span>
            
           <span class="smallTotal">
            R {{smallcost}}   
           </span>
       </div>
       <div>
        <span>
            Medium
        </span>
        <span class="mediumnum">
            (0)  
           </span>
       
            <span class="mediumTotal">
             R0.00   
            </span>
       </div>
       <div>
        <span>
            Large
        </span>
        <span class="largenum">
            (0)  
           </span>
        
            <span class="largeTotal">
             R0.00   
            </span>
       </div> 

           <div class="hide ">
       <div>
           <span>
         Payment amount:      
           </span>
           <span>
        <input type="text"  name="" value="" placeholder="Total Cost including tip" class="amountpaid">
            </span>
       </div>
       <div>
        <button type="button" name="button" class="theButton pay paybox">Pay</button>
       </div>
    </div>
</div>
      
