<div>

<h1 class="center">Perfect~Pizza</h1>
    <div class="center rad">
        <img class="rad" src="img/logo.gif" width="150" >
    </div>
<h2 class="center">Order details</h2>

<form action="/login" method="Post">
    <div class="center hide">
        <div>
            <span>
                Name:      
            </span>
            <span>
                <input type="text"  name="OrderName" value="" placeholder="Who's ordering" class="{{login.name}}">
            </span>
        </div>

            <div>
            <span>
                Contacts:      
            </span>
            <span>
                <input type="text"  name="Contacts" value="" placeholder="What's your Phone number" class="{{login.contacts}}">
            </span>
        </div>

        <div>
            <span>
                Address:  
            </span>
            <span>
                <input type="text"  name="Address" value="" placeholder="What's your location" class="{{login.address}}">
            </span>
        </div>

        <div>
            <button type="submit" name="button" class="theButton pay paybox">Let's Order</button>
        </div>
        </form>

    </div>

</div>